### Lucas Wengler ICP 3

Q1

In [1]:
import numpy as np
import pandas as pd

# creates dataframe
data = {
    'ID': np.arange(1, 1000001),
    'Value': np.random.rand(1000000),
    'Category': np.random.choice(["A","B","C","D"], size=1000000)
}

df = pd.DataFrame(data)

### Q2

In [2]:
# prints first 10 entries
df.head(10)

   ID     Value Category
0   1  0.400154        A
1   2  0.497637        A
2   3  0.700008        C
3   4  0.891171        D
4   5  0.318443        D
5   6  0.632175        D
6   7  0.802670        B
7   8  0.792845        B
8   9  0.978384        B
9  10  0.227781        B

### Q3

In [3]:
# references the value column
df['Value']

0         0.400154
1         0.497637
2         0.700008
3         0.891171
4         0.318443
            ...
999995    0.970062
999996    0.354607
999997    0.658818
999998    0.839949
999999    0.485863
Name: Value, Length: 1000000, dtype: float64

### Q4

In [4]:
# renames columns
df.rename(columns={'ID': 'ID number', 'Value':'Random value', 'Category':'Choice'}, inplace=True)
df

        ID number  Random value Choice
0               1      0.400154      A
1               2      0.497637      A
2               3      0.700008      C
3               4      0.891171      D
4               5      0.318443      D
...           ...           ...    ...
999995     999996      0.970062      D
999996     999997      0.354607      C
999997     999998      0.658818      C
999998     999999      0.839949      A
999999    1000000      0.485863      D

[1000000 rows x 3 columns]

### Q5

In [5]:
import pandas as pd 
pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None) 
student_data = pd.DataFrame({'school_code': ['s001', 's002', 's003', 's001', 's002', 's004'], 
                            'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
                            'name': ['Alberto Franco', 'Gino Mcneill', 'Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
                            'date_Of_Birth': ['15/05/2002','17/05/2002', '16/02/1999', '25/09/1998', '11/05/2002', '15/09/1997'],
                            'age': [12, 12, 13, 13, 14, 12], 
                            'height': [173, 192, 186, 167, 151, 159], 
                            "weight": [35, 32, 33, 30, 31, 32], 
                            'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4']},
                             index=['S1', 'S2', 'S3', 'S4', 'S5', 'S6'])
print("Original DataFrame:")
print(student_data) 
print("\nSplit the said data on school_code, class wise:") 
result = student_data.groupby(['school_code', 'class']) 

for name, group in result: 
    print("\nGroup: ") 
    print(name) 
    print(group)

Original DataFrame:
   school_code class            name date_Of_Birth  age  height  weight  \
S1        s001     V  Alberto Franco    15/05/2002   12     173      35
S2        s002     V    Gino Mcneill    17/05/2002   12     192      32
S3        s003    VI     Ryan Parkes    16/02/1999   13     186      33
S4        s001    VI    Eesha Hinton    25/09/1998   13     167      30
S5        s002     V    Gino Mcneill    11/05/2002   14     151      31
S6        s004    VI    David Parkes    15/09/1997   12     159      32

    address
S1  street1
S2  street2
S3  street3
S4  street1
S5  street2
S6  street4

Split the said data on school_code, class wise:

Group:
('s001', 'V')
   school_code class            name date_Of_Birth  age  height  weight  \
S1        s001     V  Alberto Franco    15/05/2002   12     173      35

    address
S1  street1

Group:
('s001', 'VI')
   school_code class          name date_Of_Birth  age  height  weight  address
S4        s001    VI  Eesha Hinton    25/09/1998   13     167      30  street1

Group:
('s002', 'V')
   school_code class          name date_Of_Birth  age  height  weight  address
S2        s002     V  Gino Mcneill    17/05/2002   12     192      32  street2
S5        s002     V  Gino Mcneill    11/05/2002   14     151      31  street2

Group:
('s003', 'VI')
   school_code class         name date_Of_Birth  age  height  weight  address
S3        s003    VI  Ryan Parkes    16/02/1999   13     186      33  street3

Group:
('s004', 'VI')
   school_code class          name date_Of_Birth  age  height  weight  address
S6        s004    VI  David Parkes    15/09/1997   12     159      32  street4

### Q6

In [16]:
df = pd.read_csv('data.csv')

### Q7

In [17]:
df.describe()

         Duration       Pulse    Maxpulse     Calories
count  169.000000  169.000000  169.000000   164.000000
mean    63.846154  107.461538  134.047337   375.790244
std     42.299949   14.510259   16.450434   266.379919
min     15.000000   80.000000  100.000000    50.300000
25%     45.000000  100.000000  124.000000   250.925000
50%     60.000000  105.000000  131.000000   318.600000
75%     60.000000  111.000000  141.000000   387.600000
max    300.000000  159.000000  184.000000  1860.400000

### Q8

In [18]:
# checks for which columns have null values
print(df['Duration'].isnull().sum())
print(df['Pulse'].isnull().sum())
print(df['Pulse'].isnull().sum())
print(df['Calories'].isnull().sum())

0
0
0
5

In [19]:
# fills with mean
df['Calories'] = df['Calories'].fillna(df['Calories'].mean())

In [21]:
df['Calories'].isnull().sum()

np.int64(0)

### Q9

In [25]:
print('Calories column')

print(f"min: {df.Calories.min()}")
print(f"max: {df.Calories.max()}")
print(f"count: {df.Calories.count()}")
print(f'mean: {df.Calories.mean()}')
print()

print('Pulse Column:')

print(f'min: {df.Pulse.min()}')
print(f'max: {df.Pulse.max()}')
print(f'count: {df.Pulse.count()}')
print(f'mean: {df.Pulse.mean()}')

Calories column
min: 50.3
max: 1860.4
count: 169
mean: 375.79024390243904

Pulse Column:
min: 80
max: 159
count: 169
mean: 107.46153846153847

### Q10

In [27]:
df[(df["Calories"] > 500) & (df["Calories"] < 1000)]

     Duration  Pulse  Maxpulse  Calories
51         80    123       146     643.1
62        160    109       135     853.0
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
72         90    100       127     700.0
73        150     97       127     953.2
75         90     98       125     563.2
78        120    100       130     500.4
90        180    101       127     600.1
99         90     93       124     604.1
103        90     90       100     500.4
106       180     90       120     800.3
108        90     90       120     500.3

### Q11

In [28]:
df[(df['Calories'] > 500) & (df['Pulse'] < 100)]

     Duration  Pulse  Maxpulse  Calories
65        180     90       130     800.4
70        150     97       129    1115.0
73        150     97       127     953.2
75         90     98       125     563.2
99         90     93       124     604.1
103        90     90       100     500.4
106       180     90       120     800.3
108        90     90       120     500.3

### Q12

In [29]:
df_modified = df[['Duration', 'Pulse','Calories']]
df_modified.head()

   Duration  Pulse  Calories
0        60    110     409.1
1        60    117     479.0
2        60    103     340.0
3        45    109     282.4
4        45    117     406.0

### Q13

In [30]:
df = df.drop(columns='Maxpulse', axis=1)
df.head()

   Duration  Pulse  Calories
0        60    110     409.1
1        60    117     479.0
2        60    103     340.0
3        45    109     282.4
4        45    117     406.0

### Q14

In [32]:
df['Calories'] = df["Calories"].astype('int')
df.Calories.dtypes

dtype('int64')

### Q15

In [33]:
import plotly.express as px

px.scatter(df, x='Duration', y="Calories")